h2 {
    color: red;
}

.smallImg {
    width: 69px;
    height: 75px;
    background: url('./assets/imgs/small.svg') no-repeat;
}

.bigImg12 {
    width: 232px;
    height: 154px;
    background: url('./assets/imgs/big.jpg') no-repeat;
}
